h2{
  text-align: center;
  font-size: 35px;
}

form{
  float:left;
  margin: 20px;
}

table{
  float: right;
  margin: 20px;
}
td,
th{
  border: 1px solid #ccc;
  text-align: center;
  font-size: 20px;
}
th{
  background-color: #ccc;
  color: white;
}

.btn-register{  
  background-color: #58e870;
  color:white;
  border: none;
  padding: 7px;
  width: 100px;
}

.btn-remove{
  background-color: red;
  border: none;
  color: white;
  vertical-align: middle;
}

input{
  width: 200%;
}

.error{
  color: red;
}
